<md-card>
  <form class="form-signin" name="signinForm" role="form">
    <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
      <md-input-container md-no-float>
        <md-icon md-svg-icon="menu"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email">
        <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
      </md-input-container>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
      <md-icon md-svg-icon="menu"></md-icon>
      <input ng-model="user.password" type="password" placeholder="*****" ng-minlength="3">
      <p class="help-block" ng-show="signinForm.password.$error.minlength">Min password length is 8 characters.</p>
    </div>
    <!--<label class="checkbox">
      <a href="#/register"> Sign Up</a>
    </label>-->
    <section layout="row" layout-sm="column" layout-align="right right">
      <md-button ng-disabled="!user.email || !user.password" ng-click="SignIn($event)" class="md-raised md-primary">SignIn</md-button>
    </section>
  </form>
</md-card>
